{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{contact.first_name}} {{contact.last_name}}</h1>
        <ul>
            {% for phone in contact_phones %}
            <li>{{phone.phone_number}}</li>
            {% endfor %}
        </ul>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                    <th>Para</th>
                </tr>
            </thead>
            <tbody>
                {% for donation in contact_donations %}
                <tr>
                    <td>{{donation.amount}}</td>
                    <td>{{donation.donation_date}}</td>
                    <td>{{donation.donation_type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}