{% extends "base.html" %}

{% block content %}
    <div class="row">
    	<div class="col-md-12">
    		<h1>Reuniones</h1>
    		<ul>
    			{% for meeting in meeting_list %}
    				<li><a href="{% url "meeting_detail" meeting_id=meeting.id %}">{{ meeting }}</a></li>
    			{% endfor %}
    		</ul>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<a href="{% url "new_meeting" %}" class="btn btn-primary">Crear nueva</a>
    	</div>
    </div>
{% endblock content %}