{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Entrada</th>
				<th>Salida</th>
			</tr>
		</thead>
		    {% for movement in movement_list %}
		    <tr>
		    <td>{{ movement.date }}</td>
		    {% if movement.type == "donation" %}
		    	<td class="donation-cell">{{ movement.amount }}</td><td></td>
		    {% else %}
		    	<td></td><td class="withdrawal-cell">{{ movement.amount }}</td>
		    {% endif %}
		    </tr>
		    {% endfor %}
		    <tr class="info">
		    	<td>Total</td>
		    	<td id="donation-sum"></td>
		    	<td id="withdrawal-sum"></td>
		    </tr>
	    </table>
	</div>
</div>
{% endblock content %}

{% block javascript %}
    <script>
    	$(document).ready(function () {
			var withdrawal_sum = 0,
			donation_sum = 0,
			balance_sum = 0;
    		$('.donation-cell').each(function (argument) {
    			donation_sum += parseFloat($(this).text());
    		});
    		$('.withdrawal-cell').each(function (argument) {
    			withdrawal_sum += parseFloat($(this).text());
    		});
    		$('#donation-sum').html(donation_sum);
    		$('#withdrawal-sum').html(withdrawal_sum);
    	})
    </script>
{% endblock javascript %}