

{% block content %}

{% if person.id %}
<h1>Edit Person</h1>
{% else %}
<h1>Add Person</h1>
{% endif %}

<form action="{% url "index" %}" method="POST">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}
  <div id="{{ field.auto_id }}_container">
    {{ field.help_text }}
    <div>
      {{ field.label_tag }} {{ field }}
    </div>
    <div id="{{ field.auto_id }}_errors">
      {{ field.errors }}
    </div>
  </div>
  {% endfor %}

  <input id="save_person" type="submit" value="Save" />
</form>


<a href="{% url "index" %}">back to list</a>

{% endblock %}
